/* GENERAL STYLES
=============================*/

* {
    box-sizing: border-box;
}

body {
    background-color: #33415c;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

header, main, footer {
    margin: 20px;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 40
}

.main-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    user-select: none;
}

.logo {
    margin: 20px auto;
    max-width: 320px;
    width: 100%;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy .year {
    display: inline-block;
    margin: 0 0.25em;
}

.copy a {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.copy a svg {
    fill: #fff;
    max-width: 24px;
    height: 24px;
    transition: all 0.2s linear;
}

.copy a:hover svg {
    fill: #26b7a6;
    transform: scale(1.1);
}

/* SETTINGS
=============================*/

.settings {
    background-color: #202F4D;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    max-width: 960px;
}

.settings-section {
    width: 220px;
}

h2 {
    width: 100%;
}

.modes {
    display: flex;
    flex-direction: column;
}

button,
.toggle {
    background-color: #495875;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;
}

button:hover,
.toggle:hover {
    background-color: #101D38;
}

/* Buttons */

button {
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
    padding: 15px;
    min-width: 100px;
}

button.active {
    background-color: #3261b2;
    cursor: default;
}

.mode-btn[disabled] {
    background-color: #26b7a6;
    cursor: default;
}

/* Toggles */

.main-option {
    user-select: none;
    position: relative;
    margin: 5px 2px;
}

.main-option input {
    margin: 0;
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
}

.main-option .toggle {
    font-size: 22px;
    padding: 10px;
}

input:checked + .toggle {
    background-color: #26b7a6;
}

input:focus + .toggle {
    background-color: #26b7a6;
}

input[disabled] + .toggle {
    cursor: default;
    opacity: 0.3;
}

input[disabled] + .toggle:hover {
    background-color: #495875;
}

/* Color Picker */

.mode-options {
    margin-top: 10px;
    width: 100%;
}

.color-picker-container {
    display: inline-flex;
    align-items: center;
}

.color-picker {
    background-color: #495875;
    border: 2px solid #495875;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 40px;
    width: 40px;
    transition: all 0.2s linear;
    -webkit-appearance: none;
}

.color-picker:focus {
    border-color: #26b7a6;
}

.color-picker::-webkit-color-swatch-wrapper {
    margin: 0;
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.color-value {
    background-color: #495875;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0 5px;
    padding: 5px;
    min-width: 72px;
    text-align: left;
    vertical-align: middle;
    transition: all 0.2s linear;
}

.color-picker:disabled {
    cursor: default;
    opacity: 0.3;
}

.color-picker:disabled + .color-value {
    cursor: default;
    opacity: 0.3;
}

/* Grid Settings */

.grid-options-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

.label {
    margin-right: 10px;
    text-align: left;
    width: 60px;
}

#grid-color {
    height: 30px;
    width: 30px;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background-color: #495875;
    border-radius: 25px;
    outline: none;
    opacity: 0.7;
    max-width: 110px;
    width: 100%;
    height: 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #26b7a6;
    border-radius: 100%;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.slider::-moz-range-thumb {
    background-color: #26b7a6;
    border-radius: 100%;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.slider-value {
    margin-left: 5px;
    width: 25px;
    text-align: left;
}

/* GRID
=============================*/

.grid-container {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-width: 960px;
    max-height: 960px;
}

.grid {
    aspect-ratio: 1 / 1;
    background-color: black;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.tile {
    cursor: default;
    flex-basis: auto;
    position: relative;
    user-select: none;
}

.tile .tile-overlay {
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.tile.dark-animation {
    animation: black-to-white 2s;
}

.tile.light-animation {
    animation: white-to-black 2s;
}

@keyframes white-to-black {
    0% {
        background-color: white;
    }
    50% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}

@keyframes black-to-white {
    0% {
        background-color: black;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
}

@media only screen and (max-width: 1280px) {
    .main-content {
        flex-flow: column-reverse;
        align-items: center;
    }

    .grid-container {
        margin: 20px;
    }

    .settings {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .settings-section {

    }

    .modes {
        display: flex;
        flex-flow: row wrap;
    }
}

@media only screen and (max-width: 760px) {
    .settings-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }

    .grid-options {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }

    .grid-options h2 {
        /*flex-shrink: 0;*/
    }

    .grid-options-container {
        margin: 10px;
    }
}