body {
    background-color: #262633;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    aspect-ratio: 1 / 1;
    display: grid;
    grid-gap: 2px;
    width: 100%;
    height: auto;
    max-width: 50%;
    max-height: 50%;
}

.tile {
    background-color: white;
    flex-basis: auto;
}

.tile:hover {
    background-color: #000000;
}